$bg-color: #292b2c;
$font-color: #ffffff;
$hover-color: #ff6b6b;

body {
  background-color: $bg-color;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  background-color: $bg-color;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 3em;
}

.nav-links li {
  margin: 0 1em;
}

.nav-links li a {
  font-size: 1em;
  text-align: center;
  color: $font-color;
  text-decoration: none;
}

.nav-links li a:hover {
  color: $hover-color;
}

#socials {
  margin-right: 3em;
}

.container {
  justify-content: center;
  height: 100%;
}

.fixed-yield-finance {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
  letter-spacing: -0.05em;
  color: $font-color;
  margin-top: 30vh; /* adjust the margin as needed */
}

.risk-free-fixed-yield {
  font-size: 1.3em;
  margin-top: -2em;
  text-align: center;
  color: $font-color;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  padding: 0 2em;
  margin: 0 1em;
  border: 1px solid $font-color;
  border-radius: 1.5em;
  background-color: transparent;
  color: $font-color;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.whitepaper:hover {
  background-color: $font-color;
  color: $bg-color;
}

.discord {
  border: none;
  background-color: #5865f2;
}

.discord svg {
  margin-right: 0.5em;
}

.whitepaper svg path {
  stroke: white; /* Change the stroke color of the path element inside the SVG */
}

.whitepaper:hover svg path {
  stroke: $bg-color; /* Change the stroke color of the path element inside the SVG */
}

.no-link {
  text-decoration: none;
}
