body {
  background-image: url('background.png');
  background-size: cover;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}


.main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.description {
  font-size: 2em;
  font-weight: 400;
}

.enter-app {
  border-radius: 20px;
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.enter-app:hover {
  background-color: #ffffff;
  color: #000000;
}

.warning {
  font-size: 1.5em;
  margin-top: 20px;
}

.right-section img {
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px; /* increased height of nav */
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* items stick to the bottom of nav */
}

.nav-links {
  font-size: 1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; /* center items vertically */
}

.nav-links li {
  margin: 0 1em;
}

.nav-links li a {
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  color: rgba(119,119,195,1);
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}

.nav-links .center {
  flex-grow: 1;
  text-align: center;
}

.nav-links .right {
  flex-grow: 1;
  text-align: right;
}

.nav-links .right .launch-app {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  text-decoration: none;
  color: #ffffff;
}

.nav-links .right .launch-app:hover {
  background-color: #ffffff;
  color: #292b2c;
}

.nav-links li a:hover {
  color: #ff6b6b;
}

#socials {
  margin-right: 3em;
}

.container {
  justify-content: center;
  height: 100%; }

.fixed-yield-finance {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin-top: 30vh;
  /* adjust the margin as needed */ }

.risk-free-fixed-yield {
  font-size: 1.3em;
  margin-top: -2em;
  text-align: center;
  color: #ffffff; }

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5em; }

button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  padding: 0 2em;
  margin: 0 1em;
  border: 1px solid #ffffff;
  border-radius: 1.5em;
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer; }

.whitepaper:hover {
  background-color: #ffffff;
  color: #292b2c; }

.discord {
  border: none;
  background-color: #5865f2; }

.discord svg {
  margin-right: 0.5em; }

.whitepaper svg path {
  stroke: white;
  /* Change the stroke color of the path element inside the SVG */ }

.whitepaper:hover svg path {
  stroke: #292b2c;
  /* Change the stroke color of the path element inside the SVG */ }

.no-link {
  text-decoration: none; }

.warning {
  display: flex;
  justify-content: center;
  color: white;
}
